      <footer class="footer">
        <div class="container">
          <hr/>
          <ul class="breadcrumb">
            <li>Blog</li>
            <li>RSS</li>
            <li><a href="https://github.com/webispy/akc101">GitHub</a></li>
            <li>Support</li>
            <li class="pull-right"><a href="#top">Back to top</a></li>
          </ul>

          <p class="text-muted text-center">
            <%=title%> 2017. All rights reserved.
          </p>
        </div>
      </footer>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="/javascripts/validator.min.js"></script>
  </body>
</html>
