<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= config.title %></title>
    <link href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/paper/bootstrap.min.css" rel="stylesheet" integrity="sha384-awusxf8AUojygHf2+joICySzB780jVvQaVCAt1clU3QsyAitLGul28Qxb2r1e5g+" crossorigin="anonymous">
    <link rel='stylesheet' href='/stylesheets/font-awesome.min.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <style>
      .navbar-inverse {
      <% if (active == "/") { %>
        background-color: rgba(0, 0, 0, 0.7);
      <% } %>
      }
      .nav_reset {
        background-color: rgba(12, 132, 228, 1.0);
      }
    </style>
  </head>
  <body>

    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation" id="header">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/"><%= config.title %></a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li <% if (active == "/") { %> class="active" <% } %>>
              <a href="/">GEEK Light 소개</a>
            </li>
            <li <% if (active == "/shop") { %> class="active" <% } %>>
              <a href="/shop">구매</a>
            </li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
<% if (user) { %>
            <li <% if (active == "/mylights") { %> class="active" <% } %>>
              <div class="navbar-form">
              <a href="/mylights" class="btn btn-success">My Lights</a>
              </div>
            </li>
            <li <% if (active == "/logout") { %> class="active" <% } %>>
              <div class="navbar-form">
              <a href="/users/logout" class="btn btn-default"><%=user.email%> 로그아웃</a>
              <a href="/users/delete" class="btn btn-danger">탈퇴</a>
              </div>
            </li>
<% } else { %>
            <li <% if (active == "/login") { %> class="active" <% } %>>
              <a href="/users/login">로그인</a>
            </li>
            <li <% if (active == "/signup") { %> class="active" <% } %>>
              <a href="/users/signup">회원가입</a>
            </li>
<% } %>
          </ul>
        </div>
      </div>
    </nav>

    <div class="container">
