<%- include header.ejs %>

  <div style="position: absolute;
      top: 0;
      left: 0;
      width: 100%;z-index: -1">
  <img style="height: 100%; width: 100%; object-fit: contain: z-index:0"
    src="https://www.hrc.co.nz/files/2514/6734/8141/Dame_Grace_Hollander_banner.jpg"/>
  </div>

  <div class="jumbotron" style="background:none">
    <h1 style="color: white;">GEEK Light</h1>
    <p style="color: white;">판타스틱 IoT Light</p>
  </div>


  <div class="row">
    <div class="col-md-4">
      <div class="thumbnail">
        <img class="img-rounded"
          style="width:100%;height:220px;"
          src="https://cdn.sparkfun.com//assets/parts/3/3/8/0/09590-LED_Light.jpg"/>
        <div class="caption">
          <h3>영롱한 레드</h3>
          <p>그 핏빛이 내는 묘하고도 영롱한 빛은 한 번도 내가 만져보지도, 다루어 본적도 없는 원석</p>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="thumbnail">
        <img class="img-rounded"
          style="width:100%;height:220px;"
          src="http://www.lighting.philips.com/b-dam/b2b-li/en_AA/Experience/Topics/Education/Lighting_Academy/Semantic-lighting/Bringing-light-to-the-Internet-of-things.jpg"/>
        <div class="caption">
          <h3>레알 IoT</h3>
          <p>팀장님 저 그 불 켤 수 있어요. 이정섭 팀장에게 문자보내줘. "Light On"</p>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="thumbnail">
        <img class="img-rounded"
          style="width:100%;height:220px;"
          src="https://hackster.imgix.net/uploads/cover_image/file/75601/circuit.jpg?auto=compress%2Cformat&w=900&h=675&fit=min"/>
        <div class="caption">
          <h3>숨길 수 없는 간지</h3>
          <p>엔지니어의 감성을 자극하는 날 것 그대로의 자태. 디자인이요? 그게 뭐죠?</p>
        </div>
      </div>
    </div>
  </div>

<%- include footer.ejs %>
