<%- include header.ejs %>

  <div class="jumbotron">
    <h1>Not for sale :)</h1>
    <p>Do It Yourself !</p>
    <a href="http://www.digikey.com/product-detail/en/samsung-semiconductor-inc/SIP-KITNXD001/1683-1003-ND/6201088" class="btn btn-primary btn-lg">Buy ARTIK 530 - $189.00</a>
    <a href="http://www.digikey.com/product-detail/en/samsung-semiconductor-inc/SIP-KITNXE001/1683-1000-ND/6194565" class="btn btn-primary btn-lg">Buy ARTIK 710 - $199.00</a>
    <a href="http://www.digikey.com/product-detail/en/samsung-semiconductor-inc/SIP-KITNXC001/1510-1317-ND/5825103" class="btn btn-primary btn-lg">Buy ARTIK 1020 - $149.99</a>
  </div>

<%- include footer.ejs %>
